*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.color-body {
    background-color: aliceblue;
}

.home-body {
    background-color: #212121;
}

.box1 {
    background-color: #808080;
}

.box2 {
    background-color: #fff;
}

.box3 {
    background-color: #000ff0;
}

.box4 {
    background-color: #fff000;
}

.color-2 {
    display: flex;
    justify-content: center;
    margin: 15px 15px;
    flex-wrap: wrap;
}

.color-2 .box {
    width: 15vh;
    height: 15vh;
    border: 5px solid black;
    margin: 5px;
}

.box {
    cursor: pointer;
}

.color-1 {
    font-size: 2em;
    font-weight: bolder;
    margin-top: 15vh;
    text-align: center;
}

.contain {
    border: 2px solid;
    overflow: hidden;
    margin: 0 50px;
    padding: 2em;
    margin-bottom: 50vh;
}

.home-nav {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
    position: sticky;
}

a {
    text-decoration: none;
    color: #212;
}

#nav-element {
    border: 2px solid black;
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
    width: 25vw;
    text-align: center;
    margin: 5px 10px;
    box-shadow: 5px 5px 0px #333;
    position: sticky;
}

.home-projects-link {
    display: flex;
    flex-direction: column;
}

.home-projects-link a {
    padding: 5px;
    border: 2px solid #fff;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
    width: 95vw;
    font-weight: bold;
}

.home-heading {
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bolder;
}

.home-main {
    margin: 15px;
}

.bmi-body {
    background-color: #808080;
}

.bmi-main {
    /* border: 2px solid #fff; */
    box-shadow: 5px 5px 5px #c6c1c1;
    background-color: #333;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
}

.bmi-heading {
    color: #fff;
    font-size: 200%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.bmi-btn {
    text-align: center;
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
    color: #fff;
}

#weight,
#height {
    background-color: #eee;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

#btn {
    font-size: large;
    background-color: #212;
    color: #fff;
    padding: 5px;
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn1,
.btn2 {
    /* border:2px solid #000ff0; */
    padding: 10px;
}

.guide-heading {
    margin: 4px 4px;
}

.bmi-guide {
    text-transform: capitalize;
    padding: 5px;
}

.guide {
    font-size: smaller;
    padding: 10px 0px 10px 0;
}

#result {
    margin: 15px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}

#dc-body {
    background-color: #212121;
    color: #fff;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39vh;
}

#clock {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: orange;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.guess-main {
    /* width: 60vw; */
    /* height: 100vh; */
    border: white 2px solid;
    margin: 5vh 2vw;
}

.guess-heading {
    margin: 20px;
    text-align: center;
}

.hero-guess {
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
    text-overflow: ellipsis;
}

.heading-2 {
    padding: 10px;
}

.input-guess {
    padding: 18px;
}

#id-input {
    padding: 5px 10px;
    width: 50vw;
    border: 5px solid darkgrey;
    text-align: center;
}

#submit-btn {
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    font-family: 'Segoe UI';
    letter-spacing: 2px;
}

.previous-guess {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.remaining {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px;
    color: red;
}

#inin {
    background-color: #808080;
    word-wrap: break-word;
}

.result {
    font-size: 2em;
    margin: 10px;
    /* background-color: #212; */
    border-radius: 5px;
    /* display: none; */
    padding: 5px;
}