/*  *{
    border: 2px solid #333;
} */

body {
    font-size: 22px;
    border: 5px solid rebeccapurple
}

p{
    color: red ;
    inherits: inherit;
 }

 textarea , button , input, select , label{
    font:inherit;
 }

 .highlight{
    background-color: yellow;
    text-transform: uppercase;
 }

/* #second{
    font-style: italic ;
}

h1 , h2 {
    color: blue;
} */
 